[submodule "imaginary_fileshare/cookbooks/chef-server"]
	path = imaginary_fileshare/cookbooks/chef-server
	url = https://github.com/chef-cookbooks/chef-server.git
[submodule "imaginary_fileshare/cookbooks/chef-client"]
	path = imaginary_fileshare/cookbooks/chef-client
	url = https://github.com/chef-cookbooks/chef-client.git
[submodule "imaginary_fileshare/cookbooks/hostsfile"]
	path = imaginary_fileshare/cookbooks/hostsfile
	url = https://github.com/customink-webops/hostsfile.git
[submodule "imaginary_fileshare/cookbooks/cron"]
	path = imaginary_fileshare/cookbooks/cron
	url = https://github.com/chef-cookbooks/cron.git
[submodule "imaginary_fileshare/cookbooks/logrotate"]
	path = imaginary_fileshare/cookbooks/logrotate
	url = https://github.com/stevendanna/logrotate.git
[submodule "imaginary_fileshare/cookbooks/windows"]
	path = imaginary_fileshare/cookbooks/windows
	url = https://github.com/chef-cookbooks/windows.git
[submodule "imaginary_fileshare/cookbooks/chef_handler"]
	path = imaginary_fileshare/cookbooks/chef_handler
	url = https://github.com/chef-cookbooks/chef_handler.git
[submodule "imaginary_fileshare/cookbooks/activemq"]
	path = imaginary_fileshare/cookbooks/activemq
	url = https://github.com/chef-cookbooks/activemq.git
[submodule "imaginary_fileshare/cookbooks/java"]
	path = imaginary_fileshare/cookbooks/java
	url = https://github.com/agileorbit-cookbooks/java.git
[submodule "imaginary_fileshare/cookbooks/apt"]
	path = imaginary_fileshare/cookbooks/apt
	url = https://github.com/chef-cookbooks/apt.git
